<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Raspberry Pi Camera</title>
    <style>
      .container-fluid {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">3D Raspberry Pi Camera</span>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a
              class="nav-item nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-sm">
          <img src="http://leftcam.local:8080/?action=stream" class="stream" />
        </div>
        <div class="col-sm">
          <img src="http://rightcam.local:8080/?action=stream" class="stream" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-block">
            Take Photo
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
